<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <style>
        body { margin: 0; font-family: Arial, sans-serif; }
        nav.topbar {
            background: #b0cdff;
            color: white;
            padding: 15px;
        }
        nav.topbar a {
            color: white;
            margin-right: 20px;
            text-decoration: none;
            font-weight: bold;
        }
        .content {
            padding: 30px;
        }
    </style>
</head>
<body>

    <!-- TOP BAR -->
    <nav class="topbar">
        <div class="topbar-inner">
            <a class="brand" href="{{ '/' | relative_url }}">
          <img class="brand-logo" src="{{ '/assets/images/logo.png' | relative_url }}" alt="">
          <span class="sr-only">Home</span>
            </a>
        <div class="menu">
            <a href="{{ '/Variabelen en input/' | relative_url }}">Variabelen en input</a>
            <a href="{{ '/Keuzes/' | relative_url }}">Keuzes</a>
            <a href="{{ '/Herhalingen/' | relative_url }}">Herhalingen</a>
            <a href="{{ '/Lijsten/' | relative_url }}">Lijsten</a>
            <a href="{{ '/Meer for loops/' | relative_url }}">Meer for loops</a>
            <a href="{{ '/Functies/' | relative_url }}">Functies</a>
            <a href="{{ '/Numerieke methodes/' | relative_url }}">Numerieke methodes</a>
            <a href="{{ '/Externe bestanden/' | relative_url }}">Externe bestanden</a>
        </div>
        </div>
    </nav>

    <!-- PAGINA INHOUD -->
    <div class="content">
        {{ content }}
    </div>

</body>
</html>
